<h1 class="a_active" style="padding-bottom:12px">{_increase_my_maximum_bid}</h1>
<form method="post" action="{https_server}{ilpage[buying]}" name="increasemaxbid" id="increasemaxbid" style="margin:0px" accept-charset="UTF-8" onsubmit="return validate_increasemax_bid(this);">
<input type="hidden" name="cmd" value="_do-bid-action" />
<input type="hidden" name="returnurl" value="{returnurl}" />
<input type="hidden" name="bidcmd" value="increasemaxbid" />
<input type="hidden" name="pid" value="{project_id}" />
<table cellpadding="5" cellspacing="0" border="0">
<tr> 
    <td align="right"><strong>{_title}:</strong></td>
    <td><a href="{http_server}{ilpage[merch]}?id={project_id}">{project_title}</a> ({project_id})</td>
</tr>
<tr> 
    <td align="right"><strong>{_time_left}:</strong></td>
    <td>{timeleft}</td>
</tr>
<tr> 
  <td align="right" nowrap="nowrap"><strong>{_current_max_bid}:</strong></td>
  <td>{maxbidamount}</td>
</tr>
<tr> 
  <td align="right" nowrap="nowrap" valign="top"><strong>{_new_max_bid}:</strong></td>
  <td><input type="text" id="newmaxbid" name="maxbid" value="" maxlength="49" size="15" class="input" />
  <div class="smaller litegray" style="padding-top:3px">{_this_amount_max_spend_not_max_pay}</div></td>
</tr>
<tr> 
    <td align="right"><strong>{_other_bidders}:</strong></td>
    <td>{otherbidders}</td>
</tr>
</table>

<div style="height:1px; background-color:#cccccc;width:100%;margin-top:12px;margin-bottom:12px"></div>

<div><input type="submit" class="buttons" value="{_save}" accesskey="s" style="font-size:15px" /></div>
</form>
<div style="margin-bottom:14px"></div>