<h1 style="padding-bottom:12px">{_feedback_and_rating_complete}</h1>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td width="80%" valign="top">
	
	<p style="line-height:1.4em">{_thank_you_for_taking_a_few_moments_to_rate_this_customer_and_provide_feedback_for_others_to_review}</p>

	</td>
    <td width="3%"></td>
    <td width="17%" valign="top">
	
	<div style="font-size:15px;padding-bottom:7px"><strong>{_where_to}</strong></div>
	<ul style="line-height:1.5em">
    
     	<li><span class="blue"><a href="{http_server}{ilpage[feedback]}?cmd=_leave-feedback">{_leave_more_feedback}</a></span></li>
		<li><span class="blue"><a href="{http_server}">{_home}</a></span></li>
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{http_server}mycp" rel="nofollow">{_my_cp}</a><else /><a href="{http_server}{ilpage[main]}?cmd=cp">{_my_cp}</a></if></span></li>
		
	</ul>
	
	</td>
  </tr>
</table>
<div style="height:1px;width:100%;background-color:#ccc;margin:20px 0 20px 0"></div>
<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="2">
<tr>
	<td colspan="2"><strong>{_whats_next}</strong></td>
</tr>
<tr> 
	<td width="9%" align="center"><img src="{template_relativeimagepath}{template_imagesfolder}arrow_right.gif" width="18" height="18" alt="" border="0" id="arrowright" /></td>
	<td width="91%"><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{http_server}mycp" rel="nofollow">{_my_cp}</a><else /><a href="{http_server}{ilpage[main]}?cmd=cp">{_my_cp}</a></if></span></td>
</tr>
</table>
<div style="margin-bottom:14px"></div>