<div style="width:235px">
<div class="block-wrapper">
	<div class="block5">	
			<div class="block5-top">
					<div class="block5-right">
							<div class="block5-left"></div>
					</div>
			</div>			
			<div class="block5-header" onClick="toggle('leftnav_narrowresults_productcat')" onMouseOver="this.style.cursor='pointer'" onMouseOut="this.style.cursor=''"><span style="float:{template_textalignment}; padding-top:4px; padding-{template_textalignment_alt}:10px"><img id="collapseimg_leftnav_narrowresults_productcat" src="{template_relativeimagepath}{template_imagesfolder}expand{collapse[collapseimg_leftnav_narrowresults_productcat]}.gif" border="0" alt="" /></span>$title</div>
			<div class="block5-content" id="collapseobj_leftnav_narrowresults_productcat" style="{collapse[collapseobj_leftnav_narrowresults_productcat]}">$nav</div>
			<div class="block5-footer">
					<div class="block5-right">
							<div class="block5-left"></div>
					</div>
			</div>
	</div>
</div>
</div>