<div style="width:200px">
<div class="block-wrapper">
	<div class="block">
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			<div class="block-header">
			<span style="float:right; padding-top:3px" class="smaller gray"></span>{_navigation}</div>
			<div class="block-content" style="padding:0px; border:#fff 0px">
				$navresult
			</div>
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>			
	</div>	
</div>
</div>