

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="75%" valign="top">
	
	<div class="block-wrapper">

		<div class="block">
		
				<div class="block-top">
						<div class="block-right">
								<div class="block-left"></div>
						</div>
				</div>
				
				<div class="block-header"><span style="float:right; padding-top:3px" class="smaller gray"></span>{_congratulations_you_purchased_this_item}</div>
				
				<div class="block-content" style="background:url({template_relativeimagepath}{template_imagesfolder}icons/bg_gradient_yellow_1x1000.gif) repeat-x;">
					
						<div>
							<blockquote>{_congratulations_you_have_successfully_confirmed_the_purchase_of_this_item_we_have_dispatched_you_an_email}</blockquote>
						</div>
					
				</div>
	
				<div class="block-footer">
						<div class="block-right">
								<div class="block-left"></div>
						</div>
				</div>
				
		</div>
	</div>

	</td>
    <td width="3%"></td>
    <td width="25%" valign="top">
	
	<div style="font-size:15px"><strong>{_where_to}</strong></div>
	<ul>
		<if condition="!empty($_SESSION['ilancedata']['user']['userid']) AND $_SESSION['ilancedata']['user']['userid'] > 0">
		<li><span class="blue"><a href="{http_server}">{_home}</a></span></li>
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{http_server}mycp" rel="nofollow">{_my_cp}</a><else /><a href="{http_server}{ilpage[main]}?cmd=cp">{_my_cp}</a></if></span></li>		
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{http_server}accounting" rel="nofollow">{_accounting}</a><else /><a href="{http_server}{ilpage[accounting]}">{_accounting}</a></if></span></li>
		<else />
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{https_server}signin" rel="nofollow">{_sign_in}</a><else /><a href="{https_server}{ilpage[login]}">{_sign_in}</a></if></span></li>
		<li><span class="blue"><a href="{http_server}">{_home}</a></span></li>
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{https_server}register" rel="nofollow">{_registration}</a><else /><a href="{https_server}{ilpage[registration]}">{_registration}</a></if></span></li>
		</if>
	</ul>
	
	</td>
  </tr>
</table>


<br />
<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="2">
<tr>
	<td colspan="2"><strong>{_whats_next}</strong></td>
</tr>
<tr> 
	<td width="9%" align="center"><img src="{template_relativeimagepath}{template_imagesfolder}arrow_right.gif" width="18" height="18" alt="" border="0" id="arrowright" /></td>
	<td width="91%"><span class="blue"><a href="{https_server}{ilpage[escrow]}?cmd=management&amp;bidsub=buynow-escrow">{_buying_activity}</a></span></td>
</tr>
</table>
