<div style="padding-bottom:12px"><span style="font-family: arial; font-size:19px">{_congratulations}</span></div>

<div class="block-wrapper">
	<div class="block">
	
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header">{_your_bulk_items_were_posted}</div>
			<div class="block-content-yellow" style="padding:9px"><div class="smaller">{_an_event_has_occured_that_requires_your_attention}</div></div>
			<div class="block-content" style="padding:9px">
				
				<div>
				<blockquote>
					{_congratulations_your_bulk_item_list_were_successfully_posted_to_the_marketplace}<br /><br />
					<b>{posted_auctions}</b> {_new_projects_have_been_posted}<br />
					<b>{incorrect_auctions}</b> {_incorrect_auctions} <!--{_include}: <b>{wrong_photo_auctions}</b> {_wrong_photo_auctions} <b>{no_space_photo_auctions}</b> {_no_space_photo_auctions}<br />-->
					
				</blockquote>
				</div>
				
			</div>
			
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>

<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="2">
<tr>
	<td colspan="2"><strong>{_whats_next}</strong></td>
</tr>
<tr> 
	<td width="9%" align="center"><img src="{template_relativeimagepath}{template_imagesfolder}arrow_right.gif" width="18" height="18" border="0" alt="" id="" /></td>
	<td width="91%"><span class="blue"><a href="{http_server}{ilpage[selling]}?cmd=management"><strong>{_selling_activity}</strong></a></span></td>
</tr>
</table>
