<div style="padding-bottom:12px"><span style="font-family: arial; font-size:19px">{_congratulations}</span></div>

<div class="block-wrapper">
	<div class="block">
	
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header">{_your_listing_was_posted} ({_draft})</div>
			<div class="block-content-yellow" style="padding:9px"><div class="smaller">{_an_event_has_occured_that_requires_your_attention}</div></div>
			<div class="block-content" style="padding:9px">
				
				<div><blockquote>{_congratulations_you_have_successfully_created_a_valid_rfp}</blockquote></div>
				
			</div>
			
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>

<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="2">
<tr>
	<td colspan="2"><strong>{_whats_next}</strong></td>
</tr>
<tr> 
	<td width="9%" align="center"><img src="{template_relativeimagepath}{template_imagesfolder}arrow_right.gif" width="18" height="18"></td>
	<td width="91%"><span class="blue"><a href="{ilpage[selling]}?cmd=management"><strong>{_selling_activity}</strong></a></span> &nbsp;&nbsp;<span class="blue"><strong>{url}</strong></span></td>
</tr>
</table>
