<div class="bigtabs" style="padding-bottom:10px; padding-top:0px">
<div class="bigtabsheader">
<ul>
	<li title="" class=""><a href="{https_server}{ilpage[login]}">{_sign_in}</a></li>
	<li title="" class="on"><a href="javascript:void(0)">{_change_ip_preference}</a></li>
</ul>
</div>
</div>
<div style="clear:both;"></div>

<div style="padding-bottom:20px"></div>
<form method="post" action="{ilpage[login]}" name="passwordrenewal" accept-charset="UTF-8" onsubmit="return validate_input(this);" style="margin:0px">
<table border="0" cellpadding="6" cellspacing="{table_cellspacing}" width="100%" align="center">
<tr> 
	<td align="right">{_email_address}</td>
	<td><input type="text" name="email" value="" size="35" class="input" /> <img name="emailerror" src="{template_relativeimagepath}{template_imagesfolder}icons/blankimage.gif" width="21" height="13" border="0" alt="{_this_form_field_is_required}" /></td>
</tr>
<tr> 
	<td align="center"></td>
	<td><input type="submit" value="{_continue}" style="font-size:15px" class="buttons" /></td>
</tr>
</table>
<input type="hidden" name="cmd" value="_do-ip-change" />
</form>
