<div class="box3">

    <div id="account-notifications">
    	<!--{notices}-->
    </div>
    
    <h1 class="a_active" style="padding-bottom:12px"><strong>{_my_account}</strong></h1>

	<!-- start column holder -->
	<div class="column-holder">
    
    	{apihook[main_mycp_start]}
        
    	<!-- start primary column -->
    	<div class="primary">
        
        	{apihook[main_mycp_start_primary]}

            <div class="action-box rounded">
                <div class="titlebar">
                    <h2>{_account}</h2>
                    <h3>{_information}</h3>
                </div>
            
                <div class="listbar">
                	
                    {apihook[dashboard_account_li_personalblock_start]}
                    
                    <div class="listbox">
                        <h4>{_personal_information}</h4>
                        <ul>
                            {apihook[dashboard_account_li_personal_start]}
                            <li><a href="{https_server}{ilpage[preferences]}?cmd=profile">{_personal_profile}</a></li>
                            <li><a href="{https_server}{ilpage[accounting]}?cmd=management">{_my_account_manager}</a></li>
                            <li><a href="{ilpage[subscription]}?view=seller">{_subscription_manager}</a></li>
                            <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'deposit')"><a href="{https_server}{ilpage[accounting]}?cmd=deposit">{_deposit_funds}</a><else /><div class="gray" title="{_upgrade_subscription}">{_deposit_funds}</div></if></li>
                            <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'deposit')"><a href="{https_server}{ilpage[accounting]}?cmd=withdraw">{_withdraw_funds}</a><else /><div class="gray" title="{_upgrade_subscription}">{_withdraw_funds}</div></if></li>
                            
                            {apihook[dashboard_account_li_personal_end]}
                        </ul>
                     </div>
                     
                     {apihook[dashboard_account_li_personalblock_end]}
                     {apihook[dashboard_account_li_localeblock_start]}
                     
                     <div class="listbox">
                        <h4>{_locale}</h4>
                        <ul>
                            {apihook[dashboard_account_li_locale_start]}
                            <li><a href="{https_server}{ilpage[preferences]}?cmd=timezone">{_time_zone_management}</a></li>
                            <li><a href="{https_server}{ilpage[preferences]}?cmd=currency">{_currency_preference}</a></li>
                            <li><a href="{https_server}{ilpage[preferences]}?cmd=language">{_language_preference}</a></li>
                            {apihook[dashboard_account_li_locale_end]}
                        </ul>
                     </div>
                     
                     {apihook[dashboard_account_li_localeblock_end]}
                     {apihook[dashboard_account_li_otherblock_start]}
                     
                     <div class="listbox">
                        <h4>{_other}</h4>
                        <ul>
                            {apihook[dashboard_account_li_other_start]}
                              <li><a href="{https_server}{ilpage[preferences]}?cmd=attachments">{_attachment_manager}</a></li>
                              <li><a href="{https_server}{ilpage[preferences]}?cmd=login">{_start_page_management}</a></li>
                              <li><if condition="$ilconfig['globalserver_enabledistanceradius']"><a href="{ilpage[preferences]}?cmd=distance">{_distance_management}</a><else /><div class="gray" title="{_not_in_use}">{_distance_management}</div></if></li>
                            {apihook[dashboard_account_li_other_end]}
                        </ul>
                     </div>
                     
                     {apihook[dashboard_account_li_otherblock_end]}
                     {apihook[dashboard_account_li_notificationsblock_start]}
                     
                     <div class="listbox">
                        <h4>{_email} &amp; {_notifications}</h4>
                        <ul>
                            {apihook[dashboard_account_li_notifications_start]}
                            <li><a href="{https_server}{ilpage[messages]}?cmd=management">{_messages}</a> <span class="gray">{new_messages_nav}</span></li>
                            <if condition="$ilconfig['globalfilters_cansendpms']"><li><a href="{ilpage[messages]}?cmd=compose">{_compose_a_new_private_message}</a></li></if>
                            <li><a href="{https_server}{ilpage[preferences]}?cmd=notifications">{_category_notifications}</a></li>
                            <li><if condition="$ilconfig['savedsearches']"><a href="{https_server}{ilpage[preferences]}?cmd=favorites">{_favorite_searches}</a><else /><div class="gray" title="{_upgrade_subscription}">{_favorite_searches}</div></if></li>
                            <li><a href="{https_server}{ilpage[preferences]}?cmd=email">{_email_preferences}</a></li>
                            <li><a href="{https_server}{ilpage[watchlist]}">{_watchlist_manager}</a></li>
                            {apihook[dashboard_account_li_notifications_end]}
                        </ul>
                     </div>
                     
                     {apihook[dashboard_account_li_notificationsblock_end]}
                     {apihook[dashboard_account_li_securityblock_start]}
                     
                     <div class="listbox">
                        <h4>{_security}</h4>
                        <ul>
                            {apihook[dashboard_account_li_security_start]}
                              <li><a href="{https_server}{ilpage[preferences]}?cmd=ip-restrict">{_ip_restrict_management}</a></li>
                              <li><a href="{https_server}{ilpage[preferences]}?cmd=password-renewal">{_request_new_password}</a></li>
                            {apihook[dashboard_account_li_security_end]}
                        </ul>
                     </div>
                     
                     {apihook[dashboard_account_li_securityblock_end]}
                     
                     <div class="clear"></div>
                </div>
            </div>
            
            <if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'createproductauctions') OR $ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'servicebid')"><!-- start selling -->
            <div class="action-box rounded">
                <div class="titlebar">
                    <h2>{_selling}</h2>
                    <h3>{_your_selling_account}</h3>
                     
                </div>
            
                <div class="listbar">
                
                	{apihook[dashboard_selling_li_infoblock_start]}
                
                    <div class="listbox">
                        <h4>{_manage}</h4>
                        <ul>
                            {apihook[dashboard_selling_li_info_start]}
                            <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'createproductauctions')"><a href="{https_server}{ilpage[selling]}?cmd=management">{_selling_activity}</a><else /><div class="gray" title="{_upgrade_subscription}">{_selling_activity}</div></if></li>
                            <li><a href="{http_server}{ilpage[selling]}?cmd=management&amp;sub=sold&amp;displayorder=desc">{_items_ive_sold}</a></li>
                            <li><a href="{https_server}{ilpage[selling]}?cmd=profile">{_selling_profile}</a></li>
                            <li><a href="{https_server}{ilpage[feedback]}?cmd=_leave-feedback&amp;view=2">{_leave_feedback_for_buyers}</a></li>
                            {apihook[dashboard_selling_li_info_end]}
                        </ul>
                  </div>
                     
                     {apihook[dashboard_selling_li_infoblock_end]}
                     {apihook[dashboard_selling_li_sellblock_start]}
                     
                     <div class="listbox">
                        <h4>{_sell_your_items}</h4>
                        <ul>
                            {apihook[dashboard_selling_li_sell_start]}
                       	    <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'createproductauctions')"><a href="{http_server}sell">{_sell_single_item}</a><else /><div class="gray" title="{_upgrade_subscription}">{_sell_single_item}</div></if></li>
                            <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'createproductauctions')"><a href="{http_server}bulk/sell">{_sell_bulk_items}</a><else /><div class="gray" title="{_upgrade_subscription}">{_sell_bulk_items}</div></if></li>
                            {apihook[dashboard_selling_li_sell_end]}
                       </ul>
                  </div>
                     
                     {apihook[dashboard_selling_li_sellblock_end]}
                     <if condition="$ilconfig['escrowsystem_enabled']">
                     {apihook[dashboard_selling_li_escrowblock_start]}
                     <div class="listbox">
                        <h4>{_escrow}</h4>
                        <ul>
                            {apihook[dashboard_selling_li_escrow_start]}
                            <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'servicebid')"><a href="{https_server}{ilpage[escrow]}?cmd=management&amp;sub=product-escrow">{_product_escrow_payments_in}</a><else /><div class="gray" title="{_upgrade_subscription}">{_product_escrow_payments_in}</div></if></li>
                            {apihook[dashboard_selling_li_escrow_end]}
                        </ul>
                     </div>
                     {apihook[dashboard_selling_li_escrowblock_end]}
                     </if>
                     <div class="clear"></div>
                </div>
            </div>
            <!-- end selling --></if>
            
            <if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'createserviceauctions') OR $ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'productbid') OR $ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'buynow')">
            <!-- start buying -->
            <div class="action-box rounded">
                <div class="titlebar">
                    <h2>{_buying}</h2>
                    <h3>{_your_buying_account}</h3>
                    <!--<h4 style="text-transform:uppercase;padding-top:9px;font-size:9px;font-weight:normal" class="black">{_todays_remaining_bids}: <span class="a_active"><strong>{bidsleft}</strong></span> <a href="javascript:void(0)" onmouseover="Tip('{_this_number_will_represent_how_many_bids_you_have_left_for_today}<br /><br /><strong>{_your_bids_will_renew_on} {datereset}</strong>', BALLOON, true, ABOVE, true, OFFSETX, -17, FADEIN, 600, FADEOUT, 600, PADDING, 8)" onmouseout="UnTip()"><img src="{template_relativeimagepath}{template_imagesfolder}icons/tip.gif" border="0" alt="" style="vertical-align:middle" /></a></h4>-->
                </div>
            
                <div class="listbar">
                
                	{apihook[dashboard_buying_li_infoblock_start]}
                
                  <div class="listbox">
                    <h4>{_manage}</h4>
                      <ul>
                          {apihook[dashboard_buying_li_info_start]}
                          <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'productbid') OR $ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'buynow')"><a href="{ilpage[buying]}?cmd=management">{_buying_activity}</a><else /><div class="gray" title="{_upgrade_subscription}">{_buying_activity}</div></if></li>
                          <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'productbid') OR $ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'buynow')"><a href="{ilpage[buying]}?cmd=management&amp;bidsub=awarded">{_items_ive_won}</a><else /><div class="gray" title="{_upgrade_subscription}">{_items_ive_won}</div></if></li>
                          <li><a href="{ilpage[feedback]}?cmd=_leave-feedback&amp;view=1">{_leave_feedback_for_sellers}</a></li>
                            
                          {apihook[dashboard_buying_li_info_end]}
                      </ul>
                    </div>
                     
                     {apihook[dashboard_buying_li_infoblock_end]}
                     {apihook[dashboard_buying_li_hiringblock_start]}
                     
                     <div class="listbox">
                        <h4>{_find_items}</h4>
                        <ul>
                            {apihook[dashboard_buying_li_hiring_start]}
                            <li><a href="{http_server}categories/items">{_categories}</a></li>
                            <li><a href="{http_server}search">{_advanced_search}</a></li>
                            {apihook[dashboard_buying_li_hiring_end]}
                        </ul>
                     </div>
                     
                     {apihook[dashboard_buying_li_hiringblock_end]}
                     <if condition="$ilconfig['escrowsystem_enabled']">
                     {apihook[dashboard_buying_li_escrowblock_start]}
                     <div class="listbox">
                        <h4>{_escrow}</h4>
                        <ul>
                            {apihook[dashboard_buying_li_escrow_start]}
                            <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'productbid') OR $ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'buynow')"><a href="{ilpage[escrow]}?cmd=management&amp;bidsub=product-escrow">{_product_escrow_payments_out}</a><else /><div class="gray" title="{_upgrade_subscription}">{_product_escrow_payments_out}</div></if></li>
                            <li><if condition="$ilance->permissions->check_access($_SESSION['ilancedata']['user']['userid'], 'buynow')"><a href="{ilpage[escrow]}?cmd=management&amp;bidsub=buynow-escrow">{_purchase_now_escrow_buying_activity}</a><else /><div class="gray" title="{_upgrade_subscription}">{_product_escrow_payments_out}</div></if></li>
                            {apihook[dashboard_buying_li_escrow_end]}
                        </ul>
                     </div>
                     {apihook[dashboard_buying_li_escrowblock_end]}
                     </if>
                     
                     <div class="clear"></div>
                </div>
            </div>
            <!-- end buying --></if>
            
            <if condition="$ilconfig['referalsystem_active']"><!-- start referral -->
            <div class="action-box rounded">
                <div class="titlebar">
                    <h2>{_referral_activity}</h2>
                    <h3>{_your_referral_account}</h3>
                    <h4 style="text-transform:uppercase;padding-top:9px;font-size:9px;font-weight:normal" class="black">{_referral_code}: <span class="a_active"><strong>{user[ridcode]}</strong></span></h4>
                </div>
            
                <div class="listbar">
                
                	{apihook[dashboard_referral_li_referralblock_start]}
                
                    <div class="listbox" style="width:500px">
                        <h4>{_referral_links_for} {user[username]}</h4>
                        <p style="padding-top:16px">{_place_the_links_below_on_your_site_referral} {site_name}.</p>
                        <div style="padding-top:6px"><strong>{_standard_web_link}</strong></div>
                        <div style="padding-top:6px"><input type="text" name="" value="<a href=&quot;{ridlink}&quot;>{site_name}</a>" class="input" size="60" /></div>
                        <div style="padding-top:12px"><strong>{_logo_web_link}</strong></div>
                        <div style="padding-top:6px"><input type="text" name="" value="<a href=&quot;{ridlink}&quot;><img src=&quot;{http_server}{template_logo}&quot; border=&quot;0&quot; alt=&quot;&quot; /></a>" class="input" size="60" /></div>
                        <p style="padding-top:16px">{referalactivity}</p>
                  	</div>
                    
                     {apihook[dashboard_referral_li_referralblock_end]}
                     
                     <div class="clear"></div>
                </div>
            </div>
            <!-- end referral --></if>

			{apihook[main_mycp_end_primary]}

    	</div>
        <!-- end primary column -->
        
        <div class="sidebar">
        
            <div class="side-box-title">{_other_information}</div>
            <div class="side-box-body">
                <ul>
                    {apihook[dashboard_accounts_li_other_start]}
                    {apihook[dashboard_accounts_li_other_end]}
                </ul>
            </div>
            
        </div>
        
        {apihook[main_mycp_end]}
        
	</div>
    <!-- end column holder -->
</div>