<!-- start showcase -->
<div class="showcase">
	<div class="shadow"></div>
	<div class="showcase-in">
    	<img src="{template_relativeimagepath}{template_imagesfolder}v4/bg_showcase.jpg" height="373" alt="showcase">
    </div>
	<!-- start box -->
    <div class="box3">
    	<!-- start standing-person -->
        <div class="standing-person">
        	<!-- random contractor -->
            <div class="txtb">
            	<h3>Joseph iLancer</h3>
                <!-- col1 -->
                <div class="col1">
                	<img src="{template_relativeimagepath}{template_imagesfolder}v4/img_standingman.jpg" width="67" height="72" alt="man" class="man">
                    <span class="rating"><img src="{template_relativeimagepath}{template_imagesfolder}v4/img_star.png" width="72" height="13" alt="Star"></span>
                    <span>avg. rating</span>
                </div>
                <!-- col1 -->
                <!-- col2 -->
                <div class="col2">
                	<p>PHP5, MySQL, HTML5, CSS3, AJAX</p>
                    <span>jobs <strong>370</strong></span>
                </div>
                <!-- col2 -->
            </div>
        	<!-- random contractor -->
        </div>
        <!-- end standing-person -->
        <!-- start caption -->
        <div class="caption">
        	<div class="caption-in">
            	<h3>{_instant_access_great_talent}</h3>
                <span class="gray">{_hundreds_of_rated_pros_to_choose}</span>
                <ul>
                	<li>{_get_proposals_right_away}</li>
                    <li>{_approve_work_before_payment}</li>
                    <li>{_staff_up_and_down}</li>
                </ul>
                <!-- row -->
                <div class="row">
                    <a href="{http_server}buy" title="{_post_your_job}" class="pjbutton">{_post_your_job}</a>
                    <a href="{http_server}main-about" title="{_learn_more}" class="button2">{_learn_more}</a>
                </div>
                <!-- row -->
                <!-- row2 -->
                <div class="row2">
                	<span>{_looking_for_work} <a href="{https_server}register" title="{_register}">{_register}</a></span>
                </div>
                <!-- row2 -->
                <div class="clear"></div>
            </div>
        </div>
        <!-- end caption -->
    </div>
    <!-- end box -->
</div>
<!-- end showcase -->
<!-- start container -->
<div class="container1">
	<!-- start popular-skill -->
    <div class="popular-skill">
        <!-- start box -->
        <div class="box3">
            <!-- start skill -->
            <section class="skill">
            	<h3 class="green">{_browse_job_categories}</h3>
                {jobcats}
            </section>
            <!-- end skill -->
            <!-- start today-post -->
            <section class="today-post">
            	<h3 class="green">{_trends}</h3>
                <ul>
                	<li><span>{jobcount}</span> {_jobs_posted_uc}</li>
                    <li class="last"><span>{expertcount}</span> {_registered_contractors}</li>
                    <!--<li class="last"><span>{expertsrevenue}</span> Work Done (to-date)</li>-->
                </ul>
            </section>
            <!-- end today-post -->
            <!--
            <section class="home-ad">
                <div class="banner" id="hpa">
                    <a href="{hpadurl}"><img src="{template_relativeimagepath}{template_imagesfolder}v4/img_banner_deals.jpg" width="300" height="258" alt="" /></a>
                </div>
            </section>-->
            <div class="clear"></div>
            
        </div>
        <!-- end box -->
    </div>
    <!-- end popular-skill -->
    <!-- start tour -->
    <div class="tour">
    	<div class="shadow-bottom">
        	<!-- start box -->
            <div class="box3">
            	<h3 class="green">{_take_a_tour}</h3>
                <!-- start common -->
                <section class="common first">
                	<!-- imgb -->
                    <div class="imgb">
                    	<img src="{template_relativeimagepath}{template_imagesfolder}v4/img_man.png" width="42" height="64" alt="man">
                    </div>
                    <!-- imgb -->
                    <!-- txtb -->
                    <div class="txtb">
                    	<h4>{_post_your_job_free}</h4>
                        <ul>
                        	<li>{_post_unlimited_jobs}</li>
                            <li>{_get_skills_need}</li>
                        </ul>
                    </div>
                    <!-- txtb -->
                </section>
                <!-- end common -->
                <!-- start common -->
                <section class="common">
                	<!-- imgb -->
                    <div class="imgb">
                    	<img src="{template_relativeimagepath}{template_imagesfolder}v4/img_stop_watch.png" width="47" height="65" alt="stop watch">
                    </div>
                    <!-- imgb -->
                    <!-- txtb -->
                    <div class="txtb">
                    	<h4>{_get_done_faster}</h4>
                        <ul>
                        	<li>{_get_proposals_right_away}</li>
                            <li>{_hire_get_job_done}</li>
                        </ul>
                    </div>
                    <!-- txtb -->
                </section>
                <!-- end common -->
                <!-- start common -->
                <section class="common">
                	<!-- imgb -->
                    <div class="imgb">
                    	<img src="{template_relativeimagepath}{template_imagesfolder}v4/img_dollar.png" width="42" height="66" alt="dollar">
                    </div>
                    <!-- imgb -->
                    <!-- txtb -->
                    <div class="txtb">
                    	<h4>{_pay_for_results_guaranteed}</h4>
                        <ul>
                        	<li>{_view_progress_real_time}</li>
                            <li>{_pay_after_approve_work}</li>
                        </ul>
                        <!--<a href="#" title="Tour for Contractors" class="button4"><span>Tour for Contractors</span></a>-->
                    </div>
                    <!-- txtb -->
                </section>
                <!-- end common -->
                <div class="clear"></div>
            </div>
            <!-- end box -->
        </div>
    </div>
    <!-- end tour -->
    <!-- start company-logo -->
    <!--<section class="company-logo">
    	<div class="box3">
        	<h3 class="green">Thousands of companies of all sizes use {site_name} everyday.</h3>
            <img src="{template_relativeimagepath}{template_imagesfolder}v4/banner_brand_logos.png" alt="Brands" class="banner">
           
            <div class="row">
            	<span><img src="{template_relativeimagepath}{template_imagesfolder}v4/ico_solution.png" width="56" height="71" alt="solution" class="solution"> Learn about {site_name} solutions</span>
                <a href="#" title="Watch Video" class="video">Watch Video</a>
            </div>
            
            <div class="clear"></div>
        </div>
    </section>-->
    <!-- end company-logo -->
    <!-- start box -->
    <div class="container3">
    <div class="box3">
    	<!-- start skills-list -->
        <section class="job-list">
        	<a href="{http_server}buy" title="{_post_your_job}" class="pjbutton">{_post_your_job}</a>
        	<h3 class="green">{_top_skills_on} {site_name}</h3>
            {topskills}
            <div class="clear"></div>
        </section>
        <!-- end skills-list -->
    </div>
    <!-- end box -->
    </div>
</div>
<!-- end container -->