<div style="padding:9px">

<div style="padding-bottom:12px"><a href="{http_server}"><img src="{template_relativeimagepath}{template_logo}" border="0" alt="" id="logo" /></a></div>
	
<div class="block-wrapper">

	<div class="block">
	
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header">{_something_went_wrong}</div>
			
			<div class="block-content" style="padding:0px">
				
				<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="6">
				<tr> 
					<td align="left"><div style="padding:6px">{_you_are_seeing_this_message_because_the_resource}</div></td>
				</tr>

				</table>
				
			</div>
			
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>

<div align="right" style="padding-top:6px;"><input name="button" type="button" class="buttons" onclick="window.close();" value="{_close_window}" style="font-size:14px" /></div>
</div>