<div class="page" style="margin:6px">
<div class="block-wrapper">
	<div class="block">
	
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header">{_bid_filter_permissions}</div>
			<div class="block-content" style="padding:9px">
				
				<p>{_bid_filtering_permissions_are_set_by_the_service_buyer_upon_rfp_project_creation_phase}</p>
              <p>{_the_buyer_can_choose_to_filter_various_aspects_of_the_bidders_whom_will_partake_in_the_live_bidding_process}</p>
              <p>{_if_you_require_additional_support_or_information_about_how_the_bid_filtering_process_works}</p>
				
			</div>
			
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>
<input name="button" type="button" class="buttons" style="font-size:15px" onClick="window.close();" value="{_close_window}" />
</div>