<div class="bigtabs" style="padding-bottom:10px; padding-top:10px">
<div class="bigtabsheader">
<ul>
	<li title="" class=""><a href="{ilpage[portfolio]}?cmd=management">{_portfolio_manager}</a></li>
</ul>
</div>
</div>
<div style="clear:both;"></div>

<form action="{ilpage[portfolio]}" method="post" accept-charset="UTF-8" style="margin:0px">
<input type="hidden" name="cmd" value="_portfolio-purchase-preview" />
<input type="hidden" name="portfolio_id" value="{portfolio_id}" />
<input type="hidden" name="qty" value="{qty}" />
<input type="hidden" name="amount" value="{amount}" />
<div class="block-wrapper">

	<div class="block">
	
			<div class="block-top">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
			<div class="block-header">{_featured_portfolio_payment_details}</div>
			
			<div class="block-content" style="padding:0px">
				
				<table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
				<tr> 
					<td width="37%" class="alt2">{_feature_enhancement_name}</td>
					<td class="alt2">{_featured} {_category}</td>
					<td class="alt2" nowrap="nowrap">{_featured} {_days}</td>
					<td class="alt2">{_qty}</td>
					<if condition="isset($show['istaxable']) AND $show['istaxable']">
					<td width="10%" class="alt2">{_amount}</td>
					<td width="9%" class="alt2">{_tax}</td>
					</if>
					<td width="12%" class="alt2">{_total}</td>
				</tr>
				<tr class="alt1"> 
					<td><div style="padding-top:5px; padding-bottom:5px">{item_name}</div></td>
					<td width="21%">{category}</td>
					<td width="6%">{duration}</td>
					<td width="5%">{qty}</td>
					<if condition="isset($show['istaxable']) AND $show['istaxable']">
					<td width="10%"><span class="gray">{amount_formatted}</span></td>
					<td width="9%"><span class="gray">{tax_formatted}</span></td>
					</if>
					<td width="12%"><span style="font-size:14px"><span class="blue"><strong>{total_formatted}</strong></span></span></td>
				</tr>
				<tr>
					<td colspan="7">

<div><strong>{_select_payment_method}</strong></div>
<div style="padding-top:4px">{payment_method_pulldown}</div>
</td>
				</tr>
                <tr class="alt2_top">
                	<td colspan="7"><input type="submit" value=" {_continue} " class="buttons" style="font-size:15px" /></td>
                </tr>
				</table>
				
			</div>
			
			<div class="block-footer">
					<div class="block-right">
							<div class="block-left"></div>
					</div>
			</div>
			
	</div>
</div>
</form>