<form method="post" action="{ilpage[preferences]}" name="ilform" accept-charset="UTF-8" style="margin:0px">
<input type="hidden" name="cmd" value="_do-distance-change" />
<div class="block-wrapper">

<div class="block">

        <div class="block-top">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        
        <div class="block-header">{_distance_calculation_management}</div>
        <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_distance_calculation_allows_the_marketplace_to_display_the_distance_between_your_profile}</div></div>
        <div class="block-content" style="padding:0px">
            
            <table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
            <tr>
                <td align="center">
                <div>
                    <div align="left">
                        
                        
                        <div style="padding-bottom:3px"><strong>{_enable_distance_calculation}</strong></div>
                            <div>{distance_pulldown}</div>
            
                    </div>
                </div>
                </td>
            </tr>
            <tr class="alt2_top">
                <td><input type="submit" class="buttons" value=" {_save} " accesskey="s" style="font-size:15px" /></td>
            </tr>
            </table>
            
        </div>
        
        <div class="block-footer">
                <div class="block-right">
                        <div class="block-left"></div>
                </div>
        </div>
        
</div>
</div>
</form>