<form method="post" action="{ilpage[preferences]}" name="ilform" accept-charset="UTF-8" style="margin:0px">
<input type="hidden" name="cmd" value="_do-language-change" />
<div class="block-wrapper">

    <div class="block">
    
            <div class="block-top">
                    <div class="block-right">
                            <div class="block-left"></div>
                    </div>
            </div>
            
            <div class="block-header">{_language_preference}</div>
            <div class="block-content-yellow" style="padding:9px"><div class="smaller">{_please_select_the_language_you_will_see_when_you_login_to_the_marketplace}</div></div>
            <div class="block-content" style="padding:0px">
                
                <table cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}" border="0" width="100%" align="center">
                <tr>
                    <td><div>{language_pulldown}</div></td>
                </tr>
                <tr class="alt2_top">
                    <td><input type="submit" class="buttons" value=" {_save} " accesskey="s" style="font-size:15px" /></td>
                </tr>
                </table>

                
            </div>
            
            <div class="block-footer">
                    <div class="block-right">
                            <div class="block-left"></div>
                    </div>
            </div>
            
    </div>
</div>
</form>