<h1 class="a_active" style="padding-bottom:12px">{user[username]}, {_youre_one_step_away_from_purchasing_this_item}</h1>
<div>{_preview_your_order_details_and_click_continune_to_complete_your_payment}</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td width="75%" valign="top">
    {formstart}
    
    <table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="{table_cellpadding}">
    <tr>
          <td rowspan="2" valign="top" align="center" width="200">{sample}</td>
          <td valign="top"><h2 class="blue"><a href="{http_server}{ilpage[merch]}?id={itemid}" target="_blank">{title}</a></h2>
          <div style="padding-top:3px" class="smaller">{_item} #{itemid}</div>
          <div style="padding-top:9px;font-size:16px"><strong>{totalformatted}</strong></div>
          <if condition="isset($show['shippingcharges']) AND $show['shippingcharges']"><div class="smaller litegray" style="padding-top:3px">({totalshippingformatted} {_shipping_and_handling_included})</div></if>
          </td>
    </tr>
    <if condition="!isset($show['no_icon'])"><tr>
        <td nowrap="nowrap" colspan="3"><div><span style="float:left;margin-top:-20px">{paymenticon}</span><!--{_payment_method}:--></div></td>
        
    </tr></if>
    <if condition="isset($show['ccform']) AND $show['ccform']"><tbody style="width:100%" id="creditcardoptions" class="alt1">
    <tr class="alt2_top">
        <td colspan="3"><div ><strong>{_credit_card}</strong></div></td>
    </tr>
    <tr class="alt1">
        <td nowrap="nowrap"><div class="gray">{_card_type}</div></td>
        <td colspan="2" nowrap="nowrap">{cc_type_pulldown}</td>
    </tr>
    <tr class="alt1">
        <td nowrap="nowrap"><div class="gray">{_card_number}</div></td>
        <td colspan="2" nowrap="nowrap"><input type="text" size="5" name="creditcard_number" id="creditcard_number" value="" class="input" style="width:150px" /></td>
    </tr>
    <tr class="alt1">	
        <td nowrap="nowrap"><div class="gray">{_expiration}</td>
        <td colspan="2" nowrap="nowrap">
        <select name="creditcard_month" id="creditcard_month" style="font-family: verdana">
            <option value="">{_month}</option>
                <option value="01" >01 - {_january}</option>
                <option value="02" >02 - {_february}</option>
                <option value="03" >03 - {_march}</option>
                <option value="04" >04 - {_april}</option>
                <option value="05" >05 - {_may}</option>
                <option value="06" >06 - {_june}</option>
                <option value="07" >07 - {_july}</option>
                <option value="08" >08 - {_august}</option>
                <option value="09" >09 - {_september}</option>
                <option value="10" >10 - {_october}</option>
                <option value="11" >11 - {_november}</option>
                <option value="12" >12 - {_december}</option>
          </select>
          <select name="creditcard_year" id="creditcard_year" style="font-family: verdana">
            <option value="">{_year}</option>
                <option value="2009" >2009</option>
                <option value="2010" >2010</option>
                <option value="2011" >2011</option>               
                <option value="2012" >2012</option>
                <option value="2013" >2013</option>
                <option value="2014" >2014</option>
                <option value="2015" >2015</option>
                <option value="2016" >2016</option>
                <option value="2017" >2017</option>
                <option value="2018" >2018</option>
                <option value="2019" >2019</option>
                <option value="2020" >2020</option>												
          </select></td>
    </tr>
    <tr class="alt1">
        <td nowrap="nowrap"><div class="gray">CVV2 {_number}</div></td>
        <td colspan="2" nowrap="nowrap"><input type="text" size="5" name="creditcard_cvv2" id="creditcard_cvv2" value="" class="input" style="width:50px" /></td>
    </tr>
    <tr class="alt1">
        <td nowrap="nowrap"><div class="gray">{_first_name_on_card}</div></td>
        <td colspan="2" nowrap="nowrap"><input type="text" size="5" name="creditcard_firstname" id="creditcard_firstname" value="" class="input" style="width:150px" /></td>
    </tr>
    <tr class="alt1">
        <td nowrap="nowrap"><div class="gray">{_last_name_on_card}</div></td>
        <td colspan="2" nowrap="nowrap"><input type="text" size="5" name="creditcard_lastname" id="creditcard_lastname" value="" class="input" style="width:150px" /></td>
    </tr>
    <tr class="alt1">
        <td nowrap="nowrap"><div class="gray">{_billing_address}</div></td>
        <td colspan="2" nowrap="nowrap"><input type="text" size="5" name="creditcard_billing" id="creditcard_billing" value="" class="input" style="width:250px" /></td>
    </tr>
    <tr class="alt1">
        <td nowrap="nowrap"><div class="gray">{_billing_postal_code}</div></td>
        <td colspan="2" nowrap="nowrap"><input type="text" size="5" name="creditcard_postal" id="creditcard_postal" value="" class="input" style="width:50px" /></td>
    </tr>
    </tbody></if>
    <tr>
        <td colspan="3"><input type="submit" id="submit" value=" {_make_payment} " class="buttons" style="font-size:15px" /></td>
    </tr>
    </table>
	{formend}
	</td>
    <td width="3%"></td>
    <td width="25%" valign="top">
	<div style="font-size:15px"><strong>{_where_to}</strong></div>
	<ul id="wheretonav" class="whereto" style="line-height:18px">
		<if condition="!empty($_SESSION['ilancedata']['user']['userid']) AND $_SESSION['ilancedata']['user']['userid'] > 0">
		<li><span class="blue"><a href="{http_server}">{_home}</a></span></li>
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{http_server}mycp" rel="nofollow">{_my_cp}</a><else /><a href="{http_server}{ilpage[main]}?cmd=cp">{_my_cp}</a></if></span></li>		
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{http_server}accounting" rel="nofollow">{_accounting}</a><else /><a href="{http_server}{ilpage[accounting]}">{_accounting}</a></if></span></li>
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{https_server}{ilpage[escrow]}?cmd=management&amp;bidsub=buynow-escrow" rel="nofollow">{_buy_now_manager}</a><else /><a href="{https_server}{ilpage[escrow]}?cmd=management&amp;bidsub=buynow-escrow">{_buy_now_manager}</a></if></span></li>
		<else />
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{https_server}signin" rel="nofollow">{_sign_in}</a><else /><a href="{https_server}{ilpage[login]}">{_sign_in}</a></if></span></li>
		<li><span class="blue"><a href="{http_server}">{_home}</a></span></li>
		<li><span class="blue"><if condition="$ilconfig['globalauctionsettings_seourls']"><a href="{https_server}register" rel="nofollow">{_registration}</a><else /><a href="{https_server}{ilpage[registration]}">{_registration}</a></if></span></li>
		</if>
	</ul>
	</td>
</tr>
</table>