<h1>Privacy Policy</h1><br />

<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="6">
<tr>
	<td>Privacy policy information to be updated.</td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td><strong>{_where_to}</strong></td>
</tr>	
<tr>
	<td>
		<table width="100%" border="0" cellspacing="{table_cellspacing}" cellpadding="2">
		<tr>
			<td width="9%" align="center"><img src="{template_relativeimagepath}{template_imagesfolder}arrow_right.gif" width="18" height="18"></td>
			<td width="91%"><a href="{ilpage[main]}" title="{_main_menu}">{_main_menu}</a></td>
		</tr>
		</table>
	</td>
</tr>
</table>
