<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr valign="top">
	<td width="100%">
	
    	        <div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding:0px 2px 15px 0px;">
        <tr>
        <td>
        <div class="grayborder"><div class="n"><div class="e"><div class="w"></div></div></div><div>
        <table border="0" cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td style="padding-left:5px;" valign="top"><img src="{template_relativeimagepath}{template_imagesfolder}escrow_icon.gif" alt="{_escrow}" border="0" id="" /></td>
            <td><img src="{template_relativeimagepath}{template_imagesfolder}spacer.gif" width="5" height="1"></td>
            <td style="padding-right:5px;">
            
                <div style="font-size:14px; padding-top:3px"><strong>{_when_your_service_bid_proposal_is_awarded_via_escrow_a_new_escrow_account_will_be_created_for_that_listing_below}</strong></div>
                <div class="gray"style="padding-top:4px">{_buyers_are_instructed_to_not_release_funds_held_in_escrow_until}</div>
                <div style="padding-top:9px" class="smaller">{_your_escrow_agent} <span class="blue">{site_name}</span></div>
                
        </td>
        </tr>
        </table>
        </div><div class="s"><div class="e"><div class="w"></div></div></div></div>
        </td>
        </tr>
        </table>
        </div>
        
        {servicetabs}
        <div class="block-wrapper">
        
            <div class="block2">
            
                    <div class="block2-top">
                            <div class="block2-right">
                                    <div class="block2-left"></div>
                            </div>
                    </div>
                    
                    <div class="block2-header">{_service_escrow_payments_in}</div>
                    <div class="block2-content-blue" style="padding:9px"><div><span style="max-height:0px">
        <form name="sortswitch" method="get" action="{https_server}{ilpage[escrow]}" accept-charset="UTF-8" style="margin:0px">
        <input type="hidden" name="cmd" value="management" />
        <input type="hidden" name="bidsub" value="rfp-escrow" />
        
        <table border="0" cellspacing="0" cellpadding="0" class="smaller">
          <tr>
            <td>{_keywords}:&nbsp;</td>
            <td>
              <input name="keyw" type="text"  value="{keyw}" />&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>{_period}:&nbsp;</td>
            <td>
            <select name="period2" class="smaller" style="font-family: verdana">
                <option value="-1" <if condition="isset($ilance->GPC['period2']) AND $ilance->GPC['period2'] == -1">selected="selected"</if>>{_any_date}</option>
                <option value="7" <if condition="isset($ilance->GPC['period2']) AND $ilance->GPC['period2'] == 7">selected="selected"</if>>{_last_24_hours}</option>
                <option value="13" <if condition="isset($ilance->GPC['period2']) AND $ilance->GPC['period2'] == 13">selected="selected"</if>>{_last_7_days}</option>
                <option value="14" <if condition="isset($ilance->GPC['period2']) AND $ilance->GPC['period2'] == 14">selected="selected"</if>>{_last_14_days}</option>
                <option value="15" <if condition="isset($ilance->GPC['period2']) AND $ilance->GPC['period2'] == 15">selected="selected"</if>>{_last_30_days}</option>
                <option value="16" <if condition="isset($ilance->GPC['period2']) AND $ilance->GPC['period2'] == 16">selected="selected"</if>>{_last_60_days}</option>
                <option value="17" <if condition="isset($ilance->GPC['period2']) AND $ilance->GPC['period2'] == 17">selected="selected"</if>>{_last_90_days}</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{_order_by}:&nbsp;</td>
                        <td>
                        <select name="orderby2" class="smaller" style="font-family: verdana">
                            <option value="date_end" <if condition="isset($ilance->GPC['orderby2']) AND $ilance->GPC['orderby2'] == 'bidamount'">selected="selected"</if>>{_bid_amount}</option>
                            <option value="bids" <if condition="isset($ilance->GPC['orderby2']) AND $ilance->GPC['orderby2'] == 'fee2'">selected="selected"</if>>{_escrow} {_fee}</option>
                            <option value="escrowamount" <if condition="isset($ilance->GPC['orderby2']) AND $ilance->GPC['orderby2'] == 'escrowamount'">selected="selected"</if>>{_in_escrow} {_amount}</option>
                        </select>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{_display_order}:&nbsp;</td>
            <td>
            <select name="displayorder2" class="smaller" style="font-family: verdana">
                <option value="desc" <if condition="isset($ilance->GPC['displayorder2']) AND $ilance->GPC['displayorder2'] == 'desc'">selected="selected"</if>>{_descending}</option>
                <option value="asc" <if condition="isset($ilance->GPC['displayorder2']) AND $ilance->GPC['displayorder2'] == 'asc'">selected="selected"</if>>{_ascending}</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{_per_page}:&nbsp;</td>
                        <td>
                        <select name="pp" class="smaller" style="font-family: verdana">
                            <option value="10" <if condition="isset($ilance->GPC['pp']) AND $ilance->GPC['pp'] == '10'">selected="selected"</if>>10</option>
                            <option value="50" <if condition="isset($ilance->GPC['pp']) AND $ilance->GPC['pp'] == '50'">selected="selected"</if>>50</option>
                            <option value="100" <if condition="isset($ilance->GPC['pp']) AND $ilance->GPC['pp'] == '100'">selected="selected"</if>>100</option>
                            <option value="500" <if condition="isset($ilance->GPC['pp']) AND $ilance->GPC['pp'] == '500'">selected="selected"</if>>500</option>
                            <option value="1000" <if condition="isset($ilance->GPC['pp']) AND $ilance->GPC['pp'] == '1000'">selected="selected"</if>>1000</option>
                        </select>&nbsp;&nbsp;</td>
            <td><input type="submit" value="{_go}" class="buttons_smaller" /></td>
          </tr>
        </table>
        </form>
        </span></div></div>
                    <div class="block2-content" style="padding:0px">
                    
                        <table width="100%" border="0" align="center" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
                        <tr>
                          <td class="alt2" width="30%">{_title}</td> 
                            <td class="alt2"><span class="blue"><a href="{php_self}&amp;orderby=bidamount">{_bid_amount}</a></span></td>
                            <td class="alt2" nowrap="nowrap"><span class="blue"><a href="{php_self}&amp;orderby=fee2">{_escrow_fee}</a></span></td>
                            <td class="alt2" width="14%" nowrap="nowrap">{_tax}</td>
                            <td class="alt2" width="13%" nowrap="nowrap">{_in_escrow} <a href="javascript:void(0)" onmouseover="Tip('<div><strong>' + phrase['_in_escrow'] + ' ' + phrase['_amount'] + '</strong></div><div>' + phrase['_this_value_will_change_when_the_buyer_purchaser_has_forwarded_funds_into_this_escrow_account_or_when_the_buyer_purchaser'] + '</div>', BALLOON, true, ABOVE, true, OFFSETX, -17, FADEIN, 600, FADEOUT, 600, PADDING, 8)" onmouseout="UnTip()"><img src="{template_relativeimagepath}{template_imagesfolder}icons/tip.gif" border="0" alt="" /></a></td>
                            <td class="alt2" width="11%">{_next_step}</td>
                            <td class="alt2" width="8%" align="right">{_action}</td>
                        </tr>
                        <loop name="project_results_rows"> 
                        <tr class="alt1" valign="top">
                          <td><div class="blue" style="padding-right:6px"><a href="{ilpage[rfp]}?id={project_id}">{job_title}</a></div><div class="smaller black" style="padding-top:3px"><span class="blue">{buyer}</span> {_awarded_your_bid_on} <span class="blue">{awarddate}</span></div></td> 
                            <td nowrap="nowrap"><div class="smaller blue">{bidamount}</div></td>
                            <td width="12%"><div class="smaller blue">{fee2}</div></td>
                            <td><div class="smaller blue">{taxinfo}</div></td>
                            <td><div class="smaller blue">{escrowamount}</div></td>
                            <td nowrap="nowrap"><div class="smaller">{status}</div></td>
                            <td align="right"><div>{actions}</div></td>
                        </tr>
                        </loop name="project_results_rows">
                        <if condition="isset($show['no_project_rows_returned']) AND $show['no_project_rows_returned']"> 
                        <tr> 
                            <td colspan="9" align="center" class="alt1"><div style="padding-top:8px; padding-bottom:8px">{_no_results_found}</div></td>
                        </tr>
                        </if>
                        <tr> 
                            <td colspan="9" align="center">{prevnext}</td>
                        </tr>
                        </table>
                        
                    </div>
                    
                    <div class="block2-footer">
                            <div class="block2-right">
                                    <div class="block2-left"></div>
                            </div>
                    </div>
                    
            </div>
        </div>
    
	</td>
</tr>
</table>