<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
    <tr valign="top">
	<td width="100%">
	    {servicetabs}
	    <div class="block-wrapper">

		<div class="block">

                    <div class="block-top">
			<div class="block-right">
			    <div class="block-left"></div>
			</div>
                    </div>

                    <div class="block-header">{_drafts}</div>
                    <div class="block-content-yellow" style="padding:9px"><div><span style="max-height:0px">
				<form name="sortswitch" method="get" action="{ilpage[selling]}" accept-charset="UTF-8" style="margin:0px">
				    <input type="hidden" name="cmd" value="management" />
				    <input type="hidden" name="sub" value="drafts" />
				    <table border="0" cellspacing="0" cellpadding="0" class="smaller">
					<tr>
					    <td>{_keywords}:&nbsp;</td>
					    <td><input name="keyw" type="text"  value="{keyw}" />&nbsp;&nbsp;&nbsp;&nbsp;</td>
					    <td>{_listing_period}:&nbsp;</td>
					    <td>{period_pulldown}&nbsp;&nbsp;&nbsp;&nbsp;</td>
					    <td>{_display_order}:&nbsp;</td>
					    <td>{displayorder_pulldown}&nbsp;&nbsp;&nbsp;&nbsp;</td>
					    <td>{_per_page}:&nbsp;</td>
					    <td>{pp_pulldown}&nbsp;</td>
					    <td><input type="submit" value="{_go}" class="buttons_smaller" /></td>
					</tr>
				    </table>
				</form>
			    </span></div></div>
                    <div class="block-content" style="padding:0px">

                        <form name="createrfp" method="post" action="{ilpage[selling]}" accept-charset="UTF-8" style="margin:0px">
			    <input type="hidden" name="cmd" value="management" />
			    <input type="hidden" name="sub" value="drafts" />
			    <input type="hidden" name="do" value="_do-draft-create" />
			    <table width="100%" border="0" align="center" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
				<tr> 
				    <td class="alt2">{_title}</td>
				    <td width="20%" class="alt2">{_added}</td>
				    <td width="17%" class="alt2">{_category}</td>
				    <td width="11%" class="alt2">{_if_short} <a href="javascript:void(0)" onmouseover="Tip(phrase['_if_stands_for_insertion_fee_and_is_a_fee_that_is_applied_when_you_list'], BALLOON, true, ABOVE, true, OFFSETX, -17, FADEIN, 600, FADEOUT, 600, PADDING, 8)" onmouseout="UnTip()"><img src="{template_relativeimagepath}{template_imagesfolder}icons/tip.gif" border="0" alt="" /></a></td>
				    <!--<td width="9%" class="alt2">{_status}</td>-->
				    <td class="alt2" width="10%" align="right">{_action}</td>
				</tr>
				<loop name="project_results_rows"> 
				    <tr class="alt1" valign="top"> 
					<td width="33%"><span class="blue" style="padding-right:6px"><a href="{ilpage[selling]}?cmd=product-management&amp;id={project_id}&amp;state={state}">{job_title}</a> <span class="smaller black">(#{project_id})</span></span>
					    <div class="smaller" style="padding-top:6px">{_revision}: <strong>{revisions}</strong>, {_vendors_invited}: <strong>{invitecount}</strong></div></td>
					<td>{added}</td>
					<td>{category}</td>
					<td>{insfee}</td>
					<!--<td>{status}</td>-->
					<td align="right">{actions}</td>
				    </tr>
				</loop name="project_results_rows">
				<if condition="isset($show['no_project_rows_returned']) AND $show['no_project_rows_returned']"> 
				    <tr> 
					<td colspan="8" align="center"><div style="padding-top:8px; padding-bottom:8px">{_no_results_found}</div></td>
				    </tr>
				    <else />
				    <if condition="isset($show['rfppulldownmenu']) AND $show['rfppulldownmenu']"> 
					<tr class="alt2_top"> 
					    <td colspan="8" align="right" valign="top">
						<select name="rfpcmd" style="font-family: verdana">
						    <optgroup label="{_select_action}">
							<option value="createitem">{_open_selected_auctions_for_bids}</option>
							<option value="deleteitem">{_delete_selected_draft_auctions}</option>
							<option value="createallitem">{_open_all_auctions_for_bids}</option>
							<option value="deleteallitem">{_delete_all_draft_auctions}</option>
						    </optgroup>
						</select>
						<input type="submit" class="buttons" onclick="if (document.getElementsByName('rfpcmd')[0].selectedIndex == 0) {return confirm_js('{_confirmation_selected_rfps_will_become_open_to_the_public_marketplace}')};if (document.getElementsByName('rfpcmd')[0].selectedIndex == 1) {return confirm_js(phrase['_confirmation_delete_selected_draft_autions_permanently'])};" value="{_go}">	
					    </td>
					</tr>
				    </if>
				    <tr>
					<td colspan="8">{prevnext}</td>
				    </tr>
				</if>
			    </table>
                        </form>

                    </div>

                    <div class="block-footer">
			<div class="block-right">
			    <div class="block-left"></div>
			</div>
                    </div>

		</div>
	    </div>

	</td>
    </tr>
</table>