#/*==========================================================================*\
#|| ######################################################################## ||
#|| # ILance Marketplace Software 4.0.0 Build 8059
#|| # -------------------------------------------------------------------- # ||
#|| # Customer License # H7LhzCqPSNEABnY
#|| # -------------------------------------------------------------------- # ||
#|| # Copyright ©2000ñ2014 ILance Inc. All Rights Reserved.                # ||
#|| # This file may not be redistributed in whole or significant part.     # ||
#|| # ----------------- ILANCE IS NOT FREE SOFTWARE ---------------------- # ||
#|| # http://www.ilance.com | http://www.ilance.com/eula | info@ilance.com # ||
#|| # -------------------------------------------------------------------- # ||
#|| ######################################################################## ||
#\*==========================================================================*/
#### Configure Mime Types ######################################################
AddType application/x-httpd-php asp jsp

#### Try to force all Javascript's as UTF-8 ####################################
AddCharset utf-8 .js

#### Turn off mod_security #####################################################
<IfModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off   
</IfModule>

#### Protect files and directories from prying eyes ############################
<Files ~ "(\.(inc|pl|sh|sql|log|cache|sqlcache|svn)|.svn|templates|Entries|Repositories|Root|CVS|.dist|.new)$">
Order deny,allow
Deny from all
</Files>

#### Check for mod_rewrite #####################################################
<IfModule mod_rewrite.c>
Options -Indexes
Options +FollowSymLinks
DirectoryIndex login.php
</IfModule>

#/*======================================================================*\
#|| ####################################################################
#|| # Downloaded: Thu, Jul 31st, 2014
#|| ####################################################################
#\*======================================================================*/