<div id="v3body4">
    <div id="content">

	<h1 style="padding-bottom:12px">{_administrative_action_process}</h1>

	<div class="block-wrapper">

	    <div class="block">

		<div class="block-top">
		    <div class="block-right">
			<div class="block-left"></div>
		    </div>
		</div>

		<div class="block-header"><span style="float:right; padding-top:3px" class="smaller gray"></span>{_process}</div>
		<div class="block-content-yellow" style="padding:9px"><div class="smaller">{content}</div></div>
		<div class="block-content">

		    <div>
			<blockquote>{notice}<br /><br /><span class="blue"><a href="{confirmurl}" target="_self" class="buttons">{_continue}</a></span><span class="blue" style="margin-left:40px;"><a href="{cancelurl}" target="_self" class="buttons">{_return_to_previous_page}</a></span></blockquote>
		    </div>

		</div>

		<div class="block-footer">
		    <div class="block-right">
			<div class="block-left"></div>
		    </div>
		</div>

	    </div>
	</div>