<div id="v3body4">
    <div id="content">
		<h1 style="padding-bottom:12px">{_administrative_action_complete}</h1>
			<div class="block-wrapper">
				<div class="block">
				<div class="block-top">
                    <div class="block-right">
                    <div class="block-left"></div>
                    </div>
                </div>
				<div class="block-header"><span style="float:right; padding-top:3px" class="smaller gray"></span>{_success}</div>
                <div class="block-content-yellow" style="padding:{table_cellpadding}px"><div class="smaller">{_one_or_more_actions_have_been_completed_within_the_administration}</div></div>
                <div class="block-content">
                
                <blockquote>
                	<div>{notice}</div>
                    <div class="blue"><a href="{admurl}" target="_self">{_return_to_previous_page}</a>.</div>
                </blockquote>
                
                </div>
				<div class="block-footer">
		    		<div class="block-right">
						<div class="block-left"></div>
		    		</div>
				</div>
			</div>
		</div>