
<div id="v3body4">
	<!-- sub navigation -->
	<div id="sub">
		<div id="subnav">
			<loop name="subnav_settings">
				<a href="{url}" {class}><span>{name}</span></a> <span> | </span> 
			</loop name="subnav_settings">
		</div>
	</div>
	<!-- /sub navigation -->
	
	<!-- content -->
	<div id="content">
	<h1>{_ilance_app_store}</h1><br />
	
		<div class="block-wrapper">
		<div class="blocks">
		
				
				<div class="blocks-header">Discover new Apps for ILance today!</div>
				<div class="blocks-content" style="padding:{table_cellpadding}px">
					
					Secure Integrated App Store coming soon!
					
		  		</div>
				<div class="blocks-footer">
						
				</div>
				
		</div>
	</div>	
	
	<div style="padding-top:15px"></div>