<div id="v3body4">
	<!-- sub navigation -->
	<div id="sub">
		<div id="subnav">
			<loop name="subnav_settings">
				<a href="{url}" {class}><span>{name}</span></a> <span> | </span> 
			</loop name="subnav_settings">
		</div>
	</div>
	<!-- /sub navigation -->

	<div id="content">
	<h1>{_currency_management}</h1><br />

		
		<div class="tab-pane" id="defaultcurrencies">
		
				<div class="tab-page">
      				<h2 class="tab">{_default}</h2>
					<form method="post" action="{ilpage[accounting]}" accept-charset="UTF-8" name="updatecurrency" style="margin:0px">
					<input type="hidden" name="cmd" value="currencies" />
					<input type="hidden" name="subcmd" value="_update-currency" />
					<div class="block-wrapper">
					<div class="block">
					
							<div class="block-top">
									<div class="block-right">
											<div class="block-left"></div>
									</div>
							</div>
							
							<div class="block-header">{_currencies}</div>
							<div class="block-content-yellow" style="padding:9px"><div class="smaller">{_default_currency_exchange_rates_updated_automatically}</div></div>
							<div class="block-content" style="padding:0px">
								
								<table width="100%" border="0" align="center" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
								<tr class="alt2"> 
									<td nowrap="nowrap" class="smaller">{_currency}</td>
									<td class="smaller">{_rate}</td>
									<td class="smaller">{_abbreviation}</td>
									<td class="smaller">{_symbol_left}</td>
									<td class="smaller">{_symbol_right}</td>
									<td class="smaller">{_decimal_point}</td>
									<td class="smaller">{_thousands_point}</td>
									<td class="smaller">{_decimal_places}</td>
									<td align="center" class="smaller">{_action}</td>
								</tr>
								<loop name="defaultcurrencies"> 
								<tr class="alt1"> 
									<td width="20%" align="left">{currencyname}</td>
									<td width="10%" align="center">{rate}</td>
									<td width="5%" align="center">{abbrev}</td>
									<td width="4%" align="center" nowrap="nowrap">{symbolleft}</td>
									<td width="4%" align="center" nowrap="nowrap">{symbolright}</td>
									<td width="8%" align="center" nowrap="nowrap">{decimalpoint}</td>
									<td width="8%" align="center" nowrap="nowrap">{thousandspoint}</td>
									<td width="4%" align="center" nowrap="nowrap">{decimalplaces}</td>
									<td align="center" width="1%">{actions}</td>
								</tr>
								</loop name="defaultcurrencies"> 
								<if condition="isset($show['no_defaultcurrencies']) AND $show['no_defaultcurrencies']"> 
								<tr> 
									<td colspan="9" align="center">{_no_results_found}</td>
								</tr>
								<else />
								<tr class="alt2_top">
									<td colspan="9"><if condition="$show['ADMINCP_TEST_MODE']"><input type="submit" name="update" value="{_save}" style="font-size:15px" class="buttons" disabled="disabled" /><else /><input type="submit" name="update" value="{_save}" style="font-size:15px" class="buttons" /></if></td>
								</tr>
								</if>
								</table>
								
							</div>
							
							<div class="block-footer">
									<div class="block-right">
											<div class="block-left"></div>
									</div>
							</div>
							
					</div>
				</div>
					
					</form>
				</div>
				<div class="tab-page">
							<h2 class="tab">{_custom}</h2>
							<form method="post" action="{ilpage[accounting]}" name="updatecurrency" accept-charset="UTF-8" style="margin:0px">
							<input type="hidden" name="cmd" value="currencies" />
							<input type="hidden" name="subcmd" value="_update-currency" />
							<div class="block-wrapper">
							<div class="block">
							
									<div class="block-top">
											<div class="block-right">
													<div class="block-left"></div>
											</div>
									</div>
									
									<div class="block-header">{_custom}</div>
									<div class="block-content-yellow" style="padding:9px"><div class="smaller">{_custom_currency_exchange_rates_updated_manually}</div></div>
									<div class="block-content" style="padding:0px">
										
										<table width="100%" border="0" align="center" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
										<tr class="alt2"> 
											<td nowrap="nowrap">{_currency}</td>
											<td align="center">{_rate}</td>
											<td align="center">{_abbreviation}</td>
											<td align="center">{_symbol_left}</td>
											<td align="center">{_symbol_right}</td>
											<td align="center">{_decimal_point}</td>
											<td align="center">{_thousands_point}</td>
											<td align="center">{_decimal_places}</td>
											<td align="center">{_action}</td>
										</tr>
										<loop name="customcurrencies">
										<tr class="alt1"> 
											<td width="5%" align="left">{currencyname}</td>
											<td width="5%" align="center">{rate}</td>
											<td width="2%" align="center">{abbrev}</td>
											<td width="1%" align="center" nowrap="nowrap">{symbolleft}</td>
											<td width="1%" align="center" nowrap="nowrap">{symbolright}</td>
											<td width="2%" align="center" nowrap="nowrap">{decimalpoint}</td>
											<td width="2%" align="center" nowrap="nowrap">{thousandspoint}</td>
											<td width="1%" align="center" nowrap="nowrap">{decimalplaces}</td>
											<td width="1%" align="center">{actions}</td>
										</tr>
										</loop name="customcurrencies">
										<if condition="isset($show['no_customcurrencies']) AND $show['no_customcurrencies']"> 
										<tr> 
											<td colspan="9" align="center">{_no_results_found}</td>
										</tr>
										<else />
										<tr class="alt2_top">
											<td colspan="9"><if condition="$show['ADMINCP_TEST_MODE']"><input type="submit" name="update" value="{_save}" style="font-size:15px" class="buttons" disabled="disabled" /><else /><input type="submit" name="update" value="{_save}" style="font-size:15px" class="buttons" /></if></td>
										</tr>
										</if>
										</table>
										
									</div>
									
									<div class="block-footer">
											<div class="block-right">
													<div class="block-left"></div>
											</div>
									</div>
									
							</div>
						</div>
						</form>
				</div>
				<div class="tab-page">
							<h2 class="tab">{_add_new}</h2>
							<form method="post" action="{ilpage[accounting]}" name="updatecurrency" accept-charset="UTF-8" style="margin:0px">
							<input type="hidden" name="cmd" value="currencies" />
							<input type="hidden" name="subcmd" value="_create-currency" />
							<div class="block-wrapper">
							<div class="block">
							
									<div class="block-top">
											<div class="block-right">
													<div class="block-left"></div>
											</div>
									</div>
									
									<div class="block-header">{_create}</div>
									<div class="block-content-yellow" style="padding:9px"><div class="smaller">{_create_a_new_currency_exchange_rate_below_to_be_updated_manually}</div></div>
									<div class="block-content" style="padding:0px">
										
										<table width="100%" border="0" align="center" cellpadding="{table_cellpadding}" cellspacing="{table_cellspacing}">
										<tr class="alt2"> 
											<td nowrap="nowrap">{_currency}</td>
											<td align="center">{_rate}</td>
											<td align="center">{_abbreviation}</td>
											<td align="center">{_symbol_left}</td>
											<td align="center">{_symbol_right}</td>
											<td align="center">{_decimal_point}</td>
											<td align="center">{_thousands_point}</td>
											<td align="center">{_decimal_places}</td>
										  </tr>
										<tr class="alt1"> 
											<td width="5%" align="left">{currencyname}</td>
											<td width="5%" align="center">{rate}</td>
											<td width="2%" align="center">{abbrev}</td>
											<td width="1%" align="center" nowrap="nowrap">{symbolleft}</td>
											<td width="1%" align="center" nowrap="nowrap">{symbolright}</td>
											<td width="2%" align="center" nowrap="nowrap">{decimalpoint}</td>
											<td width="2%" align="center" nowrap="nowrap">{thousandspoint}</td>
											<td width="2%" align="center" nowrap="nowrap">{decimalplaces}</td>
										  </tr>
										<tr class="alt2_top">
											<td colspan="8"><if condition="$show['ADMINCP_TEST_MODE']"><input type="submit" name="update" value="{_save}" style="font-size:15px" class="buttons" disabled="disabled" /><else /><input type="submit" name="update" value="{_save}" style="font-size:15px" class="buttons" /></if></td>
										</tr>
										</table>
										
									</div>
									
									<div class="block-footer">
											<div class="block-right">
													<div class="block-left"></div>
											</div>
									</div>
									
							</div>
						</div>
						</form>
				</div>
				
				<div class="tab-page">
							<h2 class="tab">{_settings}</h2>
							{global_currencysettings}
				</div>
	</div>


	<br />
<br />
