<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>{page_title}</title>
	<meta http-equiv="Content-Type" content="text/html; charset={template_charset}">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="revisit-after" content="0" />
	<meta name="robots" content="noindex, nofollow" />
	{headinclude}
</head>

<body onLoad="{onload}">

<div id="v3body1">
<div id="v3body2">
<div id="v3body3">

<div id="top">
<div id="srch">
</div>

<div id="logo">
<br /><br /><div class="smaller" style="color:#fff; float:right; padding:5px">{official_time}<br /><em>{members_online}</em></div>

<h1>{site_name}</h1><br />

<div class="smaller"><span style="color:#fff">{_system_message}</span></div>

</div>
</div>

<div id="v3body4">
<div id="content">
<br />
<h1>{_administrative_action_complete}</h1><br />
<span class="error">{notice}</span>
<div align="center"><a href="javascript:window.close();" target="_self">{_click_here}</a> {_to_close_this_window}<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>