<script language="javascript" type="text/javascript">setupAllTabs();</script>
<if condition="isset($show['footerwysiwygpopup']) AND $show['footerwysiwygpopup']"><!-- START wysiwyg popup controls -->
<div id="insert_pop" style="display:none; width:50; position:absolute; z-index:100;"><table class="wysiwyg_popuplayer tableborder" border="0" cellpadding="1" cellspacing="6">
<tr>
	<td id="insert_title" class="wysiwyg_popuplayer_title" style="cursor: move" width="*"><ilayer><layer onmouseover="steditor=1;" onmouseout="steditor=0"><span id="change_title" style="font-size:11px"></span></layer></ilayer></td>
	<td width="1%" class="wysiwyg_popuplayer_title"><span class="smaller blue"><a href="javascript:void(0)" onclick="close_insert_pop(); return false">Close</a></span></td>
</tr>
<tr>
	<td width="100%" colspan="2"><iframe onmouseover="hide_it2()" name="insert_elm" id="insert_elm" frameborder="0" width="100%" height="250" src="" scrolling="no"></iframe></td>
</tr>
</table></div><!-- END wysiwyg popup controls --></if>
<div id="footer" align="center">
<!-- do not remove powered by graphic without branding removal option -->
<a href="http://www.ilance.com" target="_blank"><img src="{template_relativeimagepath}{template_imagesfolder}pb.gif" border="0" alt="{_powered_by_ilance_version} {template_ilversion}" /></a>
<!-- do not remove powered by graphic without branding removal option -->
</div>
</div>
</div>
</div>
</div>
</div>
<!-- do not remove or alter the ilance branding statement or url unless permitted -->
<div class="smaller" style="color:#cfcfcf;padding-top:14px;text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);" align="center">{_powered_by}: iLance&reg; {_version} {template_ilversion} {_build} {buildversion}</div>
<div class="smaller litegray" style="padding-top:4px;text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);" align="center">{_copyright} &copy;{year}, Moovr Inc.</div>
<!-- do not remove or alter the ilance branding statement or url unless permitted -->
<br />
<if condition="isset($ilconfig['footercronjob']) AND $ilconfig['footercronjob']"><noscript><img src="{template_relativeimagepath}cron.php?type=image" width="1" height="1" alt="" border="0" /></noscript>
<script language="javascript" type="text/javascript">
<!--
iL_Tasks('{template_relativeimagepath}cron.php?type=ajax', {rand()});
//-->
</script></if>
{footinclude}
</body>
</html>